@import "partials/settings";
@import "partials/reset";

// Globals

ul.categories{
  li{
    display: inline;
  }
}

.wrapper{
  width: 960px;
  margin: auto;
}

section.header{
  background-color: lightyellow;

  h2{
    a{
      font-size: 1.5em;
    }
  }
}

section.bus_info{
  background-color: lightpink;
}

section.coupon{
  background-color: lightgreen;
}

section.rating{
  background-color: lightsalmon;
}
