@import "partials/settings";
@import "partials/reset";

html{
  font-family: $roboto;
}
header{
  text-align: center;
  
  .logo{
    font-size: 2em;
    font-weight: bold;
  }
}

ul.categories{
  text-align: center;
  
  li{
    display: inline;
  }
}

.wrapper{
  width: 960px;
  margin: auto;
}

section.header{
  background-color: lightyellow;

  h2{
    a{
      font-size: 1.5em;
    }
  }
}

section.bus_info{
  background-color: lightpink;
}

section.coupon{
  background-color: lightgreen;
}

section.rating{
  background-color: lightsalmon;
}
