<section class="hoff">
    <div class="container">
        <div class="text-center">
            <h1>
            Your Uber is on the way!
            </h1>
            <p><br /></p>
            <p>
              Your driver, <b>THE HOFF<!-- {{data.driver}} --></b>, will be arriving in <b>{{data.eta}} minutes</b>!
            </p>
            <div class="logo-placeholder floating-logo"><img src="../../../../../assets/images/hasselhoff.png"></div>
        </div>
    </div>
</section>

<section class="shit">
<!--   <div>{{data.driver}}</div>
  <div>{{data.eta}}</div>
  <div>{{data.request_id}}</div>
  <div>{{data.status}}</div>
  <div>{{data.success}}</div>
  <div>{{data.vehicle}}</div> -->
</section>
