.listing_container{
  height: 250px;
  border: 1px solid $white;
}


.listing_header{
  max-width: 1000px;
  margin: auto;
  // display: inline-block;
  
  @media #{$small-only}{
    width: 100%;
    margin: auto;
  }
}

div.listing_banner{
  background-color: grey;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  // display: inline-block;

    span{
      color: white;
      font-size: 1.5em;
      margin-left: 10%;
      margin-top: 70%;
    }

  @media #{$small-only}{
    width: 100%;
  }
}

section.header{
  background-color: lightyellow;

  h2{
    a{
      font-size: 1.5em;
    }
  }
}

section.bus_info{
  background-color: lightpink;
}

section.coupon{
  background-color: lightgreen;
}

section.rating{
  background-color: lightsalmon;
  margin-bottom: 35px;
}
